main {
  padding-bottom: 150px;
}

main div.reasons-box {
  margin-bottom: 150px;
}

main div.reasons-box div.reasons-detail {
  height: 2px;
  width: 120px;
  background-color: #B5A9B6;
}

main div.reasons-box h1 {
  font-family: 'DM Serif Display', serif !important;
  font-weight: 400;
  font-size: 65px;
  color: hsl(270, 9%, 17%);
}

main div.reasons-box div.reasons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

main div.reasons-box div.reasons div.reasons-item {
  padding-right: 10px;
}

main div.reasons-box div.reasons div.reasons-item h3 {
  font-family: 'DM Serif Display', serif !important;
  font-weight: 400;
  color: hsl(270, 9%, 17%);
  font-size: 30px;
  line-height: 30px;
}

main div.reasons-box div.reasons div.reasons-item p {
  color: hsl(273, 4%, 51%);
  font-size: 16px;
  line-height: 25px;
}

main div.main-box {
  background-color: #2C2640;
  padding: 17px 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../assets/backgrounds/bg-pattern-how-we-work-desktop.svg');
  background-position: right;
  background-repeat: no-repeat;
}

main div.main-box h1 {
  font-family: 'DM Serif Display', serif !important;
  font-size: 60px;
  color: #FFFFFF;
  padding: 0;
  font-weight: 400;
}

main div.main-box button {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  padding: 10px 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}