* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding-right: 11vw;
  padding-left: 11vw;
}